article {
    padding: 1rem;
    font-family: sans-serif;
    font-size: calc(var(--font-size) * 1.25);
}

.article-header {
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;

    &>* {
        margin-top: .1rem;
        margin-bottom: .1rem;
    }
}

.article-content {
    margin-top: 1rem;
}

.article-content {
    p {
        margin-top: .4rem;
        margin-bottom: .4rem;
    }
}

.article-footer {
    padding: .5rem;
    border-top: 1px solid #ccc;

    font-size: small;

    ul {
        list-style: square;
    }
}

q {
    color: black;
    font-style: italic;
}

h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
}
