html {
    margin: 0;
    padding: 0;

    font-family: monospace;
    background-attachment: fixed;
    background-repeat: repeat;

    --font-size: 16px;
    font-size: var(--font-size);

    --accent: magenta;
    --secondary: cyan;
    --dark: #643A71;
    --light: #fff3e5;

    color: var(--dark);

    --main-width: 80%;
    --sidebar-width: 20%;
    --top-icon-size: calc(var(--font-size) * 3.5);
}

@media (max-width: 1000px) {
    html {
        --main-width: 100%;
        --font-size: 14px;
    }
}

@media (max-width: 700px) {
    html {
        --font-size: 12px;
    }
}

@media (max-width: 500px) {
    html {
        --font-size: 10px;
    }

    a.top-link span {
        display: none;
    }
}

a {
    color: blue;
}

/* TODO: responsiveness for <500px only*/

body {
    min-width: 500px;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
    'logo links'
    'sidebar main'
    ;

    justify-content: center;

    grid-template-columns: var(--sidebar-width) calc(var(--main-width) - var(--sidebar-width));
}

.logo {
    grid-area: logo;

    display: block;

    object-fit: contain;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;

        max-height: 100px;
        object-fit: cover;
    }
}

nav.top-nav {
    grid-area: links;

    padding: .5rem 0;
    width: 100%;
    display: flex;

    color: var(--dark);

    justify-content: space-evenly;
    align-content: stretch;

    border-bottom: 1px solid var(--dark);
}

.logo-container {
    background-color: var(--light);
    flex: var(--sidebar-width);
}

a.top-link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    text-decoration: none;
    border: solid transparent;

    font-size: calc(var(--font-size) * 0.8);

    padding: .2rem;

    &:hover {
        border-top: solid white;
        border-left: solid white;
        border-right: solid darkgray;
        border-bottom: solid darkgray;
    }
    &:active {
        border-top: solid darkgray;
        border-left: solid darkgray;
        border-right: solid white;
        border-bottom: solid white;
        background-color: rgba(0,0,0,.1 );
    }

    & img {
        height: var(--top-icon-size);
        width: auto;

        object-fit: contain;
    }
}

aside {
    grid-area: sidebar;

    background-color: var(--light);
    flex: var(--sidebar-width);
    word-wrap: unset;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.sidebar {
    text-align: center;
    padding: 10px;
    width: 10em;

    &>ul {
        list-style: none;
        padding: 0;

        &>li {
            margin: 0.5rem 0;

            &>a:hover {
                font-weight: bold;
            }

            span {
                font-weight: bold;

                &::before {
                    content: '> ';
                }

                &::after {
                    content: ' <';
                }
            }
        }
    }
}

h1 {
    text-align: center;
    background-clip: text;
    color: rgba(255, 255, 255, .2);
    background-image: linear-gradient(to right, black, var(--accent), black);
    background-repeat: round;
    animation: shimmer 5s linear alternate infinite;
}

@keyframes shimmer {
    0% {
        background-position: -20ch 0;
    }
    100% {
        background-position: 20ch 0;
    }
}

main {
    grid-area: main;
    padding: 10px;
}

footer {
    margin-top: 3em;
    padding: .5rem 0;
    text-align: center;
    width: 100%;
    background-color: #f0f0f0;
}

section {
    padding: .8rem .5rem;
}

.centered {
    width: 100%;
    text-align: center;
}

p {
    text-indent: 1rem;
    text-align: justify;
}

#blog-entries {
    &>table {
        margin: auto;
        width: 90%;
        table-layout: fixed;
        text-align: center;

        border-collapse: collapse;

        & tr {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #0a0a0a;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #0a0a0a;
        }

        &>tbody>tr>td {
            padding: .5rem;
        }
    }
}

div.image-container {
    margin: 1.5em auto;
    text-align: center;

    & img {
        min-width: 0;
        max-width: 100%;
    }
}

.art-by {
    display: block;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--accent), transparent);
}

blockquote {
    border-left: 5px solid var(--accent);
    padding-left: 1rem;
    font-style: italic;
    color: black;
}

table.schedule {
    margin: auto;
    width: 60%;

    text-align: center;

    border-collapse: collapse;
    & th {
        border: 1px solid black;
    }
    & td {
        border: 1px solid black;
        font-family:  monospace;
    }
}

td.blog-tags {
    text-align: left;
    word-wrap: break-word;
}

span.blog-tag {
    display: inline-block;
    padding: .1rem .4rem;
    border-radius: .3rem;
    background-color: var(--accent);
    color: var(--secondary);
    font-size: small;
}
